%{
		String ss= session.get("controllerInUse");
				
		StringBuffer sb = new StringBuffer().append(session.get("controllerInUse"));
		if(sb.indexOf("[")>-1)
		{
			sb.replace(sb.indexOf("["),sb.indexOf("[")+1,"");
		}
		if(sb.indexOf("]")>-1)
		{
			sb.replace(sb.indexOf("]"),sb.indexOf("]")+1,"");
		}
		StringBuffer token = new StringBuffer().append(",");
		List controllers = utils.ExtraUtils.split(sb,token);
		List<String> controllerInUse = new ArrayList<String>();
		//List<String> controllerInUse = (List<String>)session.get("controllerInUse");
		List<models.Aco> acoList = models.Aco.find("order by parent asc").fetch();
		
		for(StringBuffer cntlrs:controllers) {
			cntlrs.trimToSize();
		%}
	        <li #{if cntlrs.toString().trim() == request.controller} class="active"#{/if}>
                <a href class="auto">      
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="glyphicon glyphicon-list icon text-primary-dker"></i>
                  <span class="font-bold">&{cntlrs.toString().trim()}</span>
                </a>
		
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href>
                      <span>&{cntlrs.toString().trim()}</span>
                    </a>
                  </li>
        
		%{
			for(models.Aco aco : acoList) {
				if(aco.parent.equals(cntlrs.toString().trim())){
				%}
				#{deadbolt.externalizedRestriction externalRestrictions:[aco?.name]}
				  	#{if aco.name.equals("Create Crop Calendar")}
					  <li #{if 'CropManagement.createcropcalendar' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.createcropcalendar()}">
						<span>&{'create.crop.calendar'}</span>
					    </a>
					  </li>
					#{/if}	
				  	#{if aco.name.equals("Create Crop")}
					  <li #{if 'CropManagement.createcrop' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.createcrop()}">
						<span>&{'create.crop'}</span>
					    </a>
					  </li>
					#{/if}	
				  	#{if aco.name.equals("Create Crop List")}
					  <li #{if 'CropManagement.croplist' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.croplist()}">
						<span>&{'create.crop.list'}</span>
					    </a>
					  </li>
					#{/if}								
				  	
					#{if aco.name.equals("Create Main Crop")}
					<!--
					  <li #{if 'CropManagement.createmaincrop' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.createmaincrop()}">
						<span>&{'Create Main crop'}</span>
					    </a>
					  </li>
					 -->
					#{/if}									
					
					#{if aco.name.equals("Activity List")}
					  <li #{if 'CropManagement.activitylist' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.activitylist()}">
						<span>&{'activity.add'}</span>
					    </a>
					  </li>
					#{/if}	
					
					#{if aco.name.equals("Activity Type List")}
					  <li #{if 'CropManagement.activityTypeList' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.activityTypeList()}">
						<span>&{'activitytype.add'}</span>
					    </a>
					  </li>
					#{/if}	
					
					#{if aco.name.equals("Activity Item List")}
					  <li #{if 'CropManagement.activityItemlist' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.activityItemlist()}">
						<span>&{'activityItem.add'}</span>
					    </a>
					  </li>
					#{/if}	
					
					#{if aco.name.equals("Expence Item List")}
					  <li #{if 'CropManagement.expenceitemlist' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.expenceitemlist()}">
						<span>&{'crop.mapping.add'}</span>
					    </a>
					  </li>
					#{/if}	
					#{if aco.name.equals("Calendar")}
					
					  <li #{if 'CropManagement.cropcalender' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.cropcalender()}">
						<span>&{'Calendar.1'}</span>
					    </a>
					  </li>
					
					#{/if}						
					#{if aco.name.equals("Create Crop Earnings")}
					
					  <li #{if 'CropManagement.createearnings' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.createearnings()}">
						<span>&{'income.estimate'}</span>
					    </a>
					  </li>
					
					#{/if}						
					#{if aco.name.equals("Income")}
					
					  <li #{if 'CropManagement.farmercropearning' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.farmercropearning()}">
						<span>&{'expenditure.estimate.all'}</span>
					    </a>
					  </li>
					
					#{/if}						
					#{if aco.name.equals("Calendar 2")}
					<!--
					  <li #{if 'CropManagement.cropcalender2' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.cropcalender2()}">
						<span>&{'Calendar.2'}</span>
					    </a>
					  </li>
					  -->
					#{/if}						
				  	#{if aco.name.equals("Calendar 1")}
				  	<!--
					  <li #{if 'CropManagement.cropcalender' == request.action} class="active"#{/if}>
						<a href="@{CropManagement.cropcalender()}">
						<span>&{'Calendar.1'}</span>
					    </a>
					  </li>
					  -->
					#{/if}				
					
					#{if aco.name.equals("View User")}
					<li #{if 'Users.list' == request.action} class="active"#{/if}>
					<a href="@{Users.list()}">
						<span>&{'view.user'}</span>
					    </a>
					  </li>
					#{/if}
					#{if aco.name.equals("Edit User")}
					<li #{if 'Users.create' == request.action} class="active"#{/if}>
					<a href="@{Users.create()}" #{if 'Users.create' == request.action} class="active"#{/if}>
						<span>&{'edit.user'}</span>
					    </a>
					  </li>
					#{/if}
					#{if aco.name.equals("ACL")}
					<li #{if 'Users.acl' == request.action} class="active"#{/if}>
					<a href="@{Users.acl()}" #{if 'Users.acl' == request.action} class="active"#{/if}>
					<span>&{'user.acl'}</span>
					    </a>
					  </li>
					#{/if}	    
				      
				#{/deadbolt.externalizedRestriction}
				%{
				}
			}
		%}
		                </ul>
              </li>

              <li class="line dk"></li>
		%{
		}
		%}	
