<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'createActivity')}">
<body>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">&{'activity.add'}</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				
				<div class="panel-body">
					#{form @submitActivity(), class:'form-horizontal'}
					#{if cropActivity?.id} <input
						type="hidden" name="cropActivity.id" value="${cropActivity.id}" />
					#{/if} 
					#{input 'cropActivity.name', class:'form-control' /} 

					<div class="form-actions">
						<button type="submit" class="btn btn-sm btn-primary">&{'crop.save'}</button>
					</div>
					#{/form}

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
