<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'createmaincrop)}">
<body>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">Create Crop</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Crop description</div>
        <div class="panel-body">
	#{form @submit(), class:'form-horizontal'}
		#{if usermodel?.id}
	    <input type="hidden" name="usermodel.id" value="${usermodel.id}" />
	    #{/if}
	    #{input 'crop.mainCrop', type:'select', items:protalCropList, labelProperty:'name' /}
	    #{input 'crop.name', class:'form-control' /}
	    #{input 'crop.cropCast', class:'form-control'/}
	   
	    <div class="form-actions">
			<button type="submit" class="btn btn-sm btn-primary">&{'crop.save'}</button>
			<button type="reset" class="btn">&{'Reset'}</button>
		</div>
	#{/form}

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
