<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'createActivityType')}">
<body>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">&{'activitytype.add'}</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body">
					#{form @submitActivityType(), class:'form-horizontal'}
					#{if cropActivityType?.id} <input
						type="hidden" name="cropActivityType.id" value="${cropActivityType.id}" />
					#{/if} 
					#{input 'cropActivityType.name', class:'form-control' /} 

					<div class="form-actions">
						<button type="submit" class="btn btn-sm btn-primary">&{'crop.save'}</button>
					</div>
					#{/form}

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
