<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'createcropcalendar')}">
<body>
<script type="text/css">

a.disabled {
   pointer-events: none;
   cursor: default;
}
</script>
<script type="text/javascript">
	var activityList = new Array();
</script>
<div class="bg-success b-b wrapper-md">
	<h1 class="m-n font-thin h3" th:text="#{project.search}">&{'activity.name'}</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form th:action="@{/cropmanagement/submitcropcaltask}" class="form-horizontal">
					<div class="col-sm-9">
					<div ng-app="myApp"  ng-controller="dropdownCtrl">
					  <h3 th:text="#{crop.task.list}"></h3>
					  <div class="row">
						  <div class="col-sm-4"> 
							  <div class="control-group">
								  <label for="country" class="control-label" th:text="#{crop.type}"></label>
							
									<select name="cropTaskMap.type"
											ng-model="cropdtl.type"                
											ng-options="obj.type as obj.type for obj in types"
											ng-change="getTypeCrops()"
											class="form-control" 
											ng-required="true"
											id="country">
									  <option value="">-- <span th:text="#{choose.all}">--</span></option>
									</select>      
							
								</div>
						  </div>
						  <div class="col-sm-4">
							  <div class="control-group">
						  <label for="state" class="control-label" th:text="#{crop.name}"></label>
						  
							<select name="cropTaskMap.crop" 
									ng-model="cropdtl.crop" 
									ng-options="x.id as x.name for x in crops"
									ng-change = "getVarities()"
									class="form-control"
									ng-required="true"
									id="state">
							  <option value="" th:text="#{choose.all}">-- &{'choose.all'} --</option>
							</select>      
							<!--
							<a href="@{createcrop()}?cropType={{createcroptype.type}}">
								<button id="createcrop" class="btn btn-success" disabled>  Add Crop </button></a> 
							-->
						  
						</div>
						  </div>
						  <div class="col-sm-4">
							  <div class="control-group">
						  <label for="city" class="control-label" th:text="#{crop.variety}"></label>
						  
							<select onchange="varitycng()" name="cropTaskMap.varity" 
									ng-model="cropdtl.varity"
									ng-options="x.crop_id as x.varity for x in varities"
									class="form-control" 
									ng-required="true"
									id="city">
							  <option value="">-- <span th:text="#{choose.all}">--</span></option>
							</select>      
							<!--
							<a href="@{createcrop()}?cropType={{createcroptype.type}}&cropId={{createcrop.id}}">
								<button id="createvarity" class="btn btn-success" disabled>  Add Varity  </button></a>
								-->
						  
						 </div>
						  </div>
					  </div>
					   

						

						 
						<!--<div class="form-group">
						  <div class="col-lg-offset-2">
							  <button class="btn btn-success">  Save  </button>
						  </div>
						 </div>-->
						<div class="form-group">
						  <!--
						  <div class="col-lg-offset-2">							
							<b>Crop Type:</b> {{cropdtl.type}}
							<b>Crop:</b> {{cropdtl.crop}}
							<b>Variety:</b> {{cropdtl.varity}} 
						  </div>
						  -->
						</div>
					</div>
					
					
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="clearfix"></div>
					<div class="form-group">
						
						<div class="col-sm-12">
							<div class="col-sm-3">
								<span th:text="#{activity.name}"></span>
							</div>
							<div class="col-sm-3">
								<span th:text="#{task.name}"></span>
							</div>
							<div class="col-sm-3">
								<span th:text="#{activity.comments}"></span>
							</div>
							<div class="col-sm-2">
								<span th:text="#{task.date}"></span>
							</div>
							<div class="col-sm-1">
								<span></span>
							</div>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="clearfix"></div>
					
					<div id="copy" class="form-group">
						<div class="col-sm-12" id="add_index0">
							<input type="hidden" name="activity" id="activity[0]" value="activityval[0]"/>
							<input type="hidden" name="task" id="task[0]" value="taskval[0]"/>
							<div class="col-sm-4">
								<span id="actName[0]"></span>
							</div>
							
							<div class="col-sm-4">
								<input type="text" name="comments" value=""
									id="comments[0]"
									class="form-control">
							</div>
							<div class="col-sm-2">
								<input type="text" name="taskdate" value=""
									id="taskdate[0]"
									class="form-control">
							</div>
							
							<div class="col-sm-1">
							<ul class="nav pull-left panel_toolbox">
								<li><a onclick="closeInputField(0);"><i
										class="fa fa-close"></i></a>									
							</ul>
							</div>
							<div class="col-sm-1">
							<ul class="nav pull-left panel_toolbox">
								<li>
									<a onclick="addRowBelow(0);"><i
										class="fa fa-plus"></i></a>
							</ul>
							</div>
						</div>
					</div>
					<div id="repeat"></div>
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
					<!--
					<div class="form-actions">
						<a id="add_row" class="btn btn-default pull-left ">Add Another Activity</a>
					</div>
					-->
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>

					<div class="form-actions">
						<button type="submit" class="btn btn-sm btn-primary" th:text="#{crop.save}"></button>						
					</div>
					</form>
					</div>
					<div class="col-sm-3">
						<h3 th:text="#{all.activities}"></h3>
						<script type="text/javascript">
							var activityList = new Array();
							var activity = new Array();
							var expenceItemList = new Array();
							var j = 0;
						</script>
						
							<div th:each="expenceItem : ${expenceItemList}">
								<script type="text/javascript" th:inline="javascript">
								/*[+
									expenceItemList[j] = {id:[[${expenceItem.id}]], 
										cropActivity:[[${expenceItem.cropActivity?.id}]],
										cropActivityType: [[${expenceItem.cropActivityType?.id}]],
										cropActivityTypeName:[[${expenceItem.cropActivityType?.name}]], 
										cropActivityItem:[[${expenceItem.cropActivityItem?.id}]]};
									j++;
								+]*/
								</script>
							</div>
						 <div class="checkbox" th:each="cropActivity : ${cropActivityList}">
							 <script type="text/javascript" th:inline="javascript">
							 /*[+
							 activity = new Array();
							 var id = [[${cropActivity.id}]];
							 var name = [[${cropActivity.name}]];
							 //alert('id::'+id);
							 activity.push('actId_'+id);
							 activity.push(name);
							 activityList.push(activity);
							 +]*/
							 </script>
						  <label class="i-checks">
							<input type="checkbox" th:id="'actId_' + ${cropActivity.id}" th:value="${cropActivity.id}" onclick="checkedActivity(this);">
							<i></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span th:text="${cropActivity.name}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
						  </label>
						</div>						 						
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>

<!-- 
<label class="col-sm-2 control-label">Datepicker</label>
<div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
	<div class="input-group w-md">
		<input type="text" class="form-control" datepicker-popup=""
			ng-model="dt" is-open="opened"
			datepicker-options="dateOptions" ng-required="true"
			close-text="Close" /> <span class="input-group-btn">
			<button type="button" class="btn btn-default"
				ng-click="open($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
		</span>
	</div>
</div>
 -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
	var cropList = [[${crops}]];
    var theList = [[${cropActivityList}]];
    //alert(theList);
    var typeList = [[${types}]];
    for (i = 0; i < activityList.length; i++) {
        //doSomething(theList[i]);
        //alert(i + ' ' + activityList[i][0] + ' ' + activityList[i][1]);
    }
    /*
    
    */
	//alert(cropList.length);
   
	var i = 0;
	var checkboxselected = 0;
	function closeInputField(i) {
		if (i > 0) {
			document.getElementById('add_index' + i).outerHTML = '';
		}
	}
	
	function addRowBelow(index)
	{
		//alert('index::'+index);
		var actType = document.getElementById('task['+index+']').value;
		var act = document.getElementById('activity['+index+']').value;
		//alert(document.getElementById('activity['+index+']').value);
		//alert('act::'+act+' type::'+actType);
		copyRow(act,actType,index);
	}
	
	function copyRow(act,activityType,index) {
		var activity = '';
		var task = '';
		//alert('act::'+act);
		//alert('activityType::'+activityType);
		i++;
		var actName = '';
		for(var k=0;k<expenceItemList.length;k++)
		{
			if(activityType == expenceItemList[k].cropActivityType)
			{
				activity = expenceItemList[k].cropActivity;
				task = expenceItemList[k].cropActivityType;
				actName = expenceItemList[k].cropActivityTypeName;
				break;
			}
		}
		var copy = document
				.getElementById('copy').innerHTML;
		copy = copy.replace('add_index0',
				'add_index' + i);
		copy = copy.replace('"taskname[0]"',
				'"taskname[' + i +']" required="required"');
		copy = copy.replace('"taskdate[0]"',
				'"taskdate[' + i +']" " required="required"');
		copy = copy.replace(
				'closeInputField(0)',
				'closeInputField(' + i + ')');											
		copy = copy.replace('activity[0]','activity['+i+']');
		copy = copy.replace('task[0]','task['+i+']');
		copy = copy.replace('activity[0]','activity['+i+']');
		copy = copy.replace('task[0]','task['+i+']');
		copy = copy.replace('activityval[0]',activity);
		copy = copy.replace('taskval[0]',task);
		copy = copy.replace('<span id="actName[0]"></span>','<span id="actName['+i+']">'+actName+'</span>');
		copy = copy.replace('addRowBelow(0)','addRowBelow('+i+')');
		if(index>1)
		{
			$('#add_index'+index).after(copy);
		}
		else
		{
			$('#actCopy_'+act).append(copy);
		}
	}
	

	$(document)
			.ready(
					function() {
						$( "#copy" ).hide();
						$(" #add_row" ).click(copyRow());
					});

	//var expenceItemList = [];
	//var j = 0;
	//expenceItemList = [[${expenceItemList}]];
	//%{
	//	for(models.ExpenceItem expenceItem:expenceItemList){
	//%}
	//	expenceItemList[j] = {id:'${expenceItem.id}',cropActivity:'${expenceItem.cropActivity?.id}',
	//		cropActivityType:'${expenceItem.cropActivityType?.id}',cropActivityTypeName:'${expenceItem.cropActivityType?.name}',cropActivityItem:'${expenceItem.cropActivityItem?.id}'};
	//	j++;
	//%{	
	//	}
	//%}
	
function checkedActivity(checkbox)
{
	//alert(checkbox.value);
	var html = '';
	var activityName = '';
	var actType = new Array();
	checkboxselected = checkbox.value;
	for(var i =0; i<activityList.length; i++)
	{
		if(activityList[i][0]=='actId_'+checkbox.value)
		{
			activityName = activityList[i][1];
			for(var k = 0; k<expenceItemList.length; k++)
			{
				//alert(expenceItemList[k].cropActivity);
				if(expenceItemList[k].cropActivity == checkbox.value)
				{
					if(!actType.includes(expenceItemList[k].cropActivityType))
					{
						actType.push(expenceItemList[k].cropActivityType);
					}
				}
			}
			
			break;
		}
	}
	
	html = '<div class="form-group" id="actLabel_'+checkbox.value+'">'+
			'<div class="col-sm-3">'+
			activityName+' </div>'+
			'<div class="col-sm-9">'+
			'<div id="actCopy_'+checkbox.value+'"></div>'+
			'</div>'+
			'</div>';
	if(checkbox.checked)
	{
		$('#repeat').append(html);
		for(var k=0;k<actType.length;k++)
		{
			copyRow(checkbox.value,actType[k]);
		}
	}
	else
	{
		$('#actLabel_'+checkbox.value).remove();
	}
	
}
var myApp = angular.module("myApp", []);

myApp.factory("CustomerService", ['$filter', 
      function($filter){
		var types = [];
		var crops = [];
		var varities = [];
        var service = {}; 
        var i = 0;    
        var cropList = [[${crops}]];
        var typeList = [[${types}]];
        //var types = [[${types}]];
        var varietyList = [[${varieties}]];
		
		for(var i = 0; i < typeList.length; i++)
		{
			types[i] = {'type':typeList[i]};
		}
		
		i = 0;
		for(var i =0; i < cropList.length; i++)
		{
			crops[i] = {'name':cropList[i][1],'type':cropList[i][0],'id':cropList[i][2]};
		}
		
		i = 0;
		for(var i = 0; i < varietyList.length; i++)
		{
			//alert(varietyList[i]);
			varities[i] = {'crop_id':varietyList[i][0],'varity':varietyList[i][1]};
		}
		
		service.getType = function(){ 
			//alert('returning  types' + types);
            return types;
        };
        
		service.getTypeCrop = function(type){
            var cropList = ($filter('filter')(crops, {type: type}));
            //document.getElementById("createcrop").class = '';
             $("#createcrop").removeAttr("disabled");
            return cropList;
        };
        
		service.getCropVarity = function(crop){		
			//alert('crop::'+crop);	
			$("#createcrop").attr("disabled", "true");
			$("#createvarity").removeAttr("disabled");
            var varitiesList = ($filter('filter')(varities, {crop_id: crop}));      
            return varitiesList;
        };
		
        return service;       
    }]);
    
myApp.controller('dropdownCtrl', ['$scope','CustomerService', 
   function($scope, CustomerService) {
	
	$scope.createcrop = {id:''};
	$scope.createcroptype = {type:''};
    $scope.cropdtl ={
        Name:'', 
        type:'', 
        crop: '', 
        varity: ''
    };
	//alert('in controller');
    $scope.types = CustomerService.getType();

    $scope.getTypeCrops = function(){
		$scope.createcroptype = {type:$scope.cropdtl.type};
        $scope.crops = CustomerService.getTypeCrop($scope.cropdtl.type);
        $scope.varities =[];
    
    };

    $scope.getVarities = function(){
	
		$scope.createcrop = {id:$scope.cropdtl.crop}		
	    $scope.varities = CustomerService.getCropVarity($scope.cropdtl.crop);
    }
    
}]);
function varitycng()
{
	$("#createvarity").attr("disabled", "true");
}
/*]]>*/
</script>
</body>
</html>
