<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'cropcalender')}">

<link href="/libs/timeline-scheduler/css/jquery-ui.css" rel="stylesheet" />
<link href="/libs/timeline-scheduler/css/jquery.ui.theme.css" rel="stylesheet" />

<link href="/libs/timeline-scheduler/css/timelineScheduler.css" rel="stylesheet" />
<link href="/libs/timeline-scheduler/css/timelineScheduler.styling.css" rel="stylesheet" />
<link href="/libs/timeline-scheduler/css/calendar.css" rel="stylesheet" />

<script src="/libs/timeline-scheduler/js/moment.min.js"></script>
<script src="/libs/timeline-scheduler/js/jquery-1.9.1.min.js"></script>
<script src="/libs/timeline-scheduler/js/jquery-ui-1.10.2.min.js"></script>

<script src="/libs/timeline-scheduler/js/timelineScheduler.js"></script>

<body>
<div ng-controller="FullcalendarCtrl">
  <div class="wrap      <i class="fa fa-bars"></i> List
    </button>
    -->
    <h1 class="m-n font-thin h3" th:text="#{project.search}"></h1>	
  </div>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col wrapper-md">
      <div class="clearfix m-b">
		  <div class="col-sm-4">
		<form th:action="@{/cropmanagement/cropcalender}">
				<div class="control-group">
					<label for="nid" class="" th:text="#{crop.farmer.nid}"></label>
					<div class="controls ">
						<input type="text" required="required" name="nid" class="form-control" id="nid" th:value="*{nid}">
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-sm btn-primary" th:text="#{crop.save}"></button>
				</div>
			</form>
			</div>
			<div class="clearfix"></div>
        <div class="calendar">

        </div>
        <div class="realtime-info">
            
        </div>
     </div>
    </div>
   </div>
 </div>
    
<!--
    
    </body>
</html>
-->
<script type="text/javascript">
var currentLangCode = 'en';
currentLangCode = '${play.i18n.Lang.get()}';
//var a={1:"১",2:"২",3:"৩",4:"৪",5:"৫",6:"৬",7:"৭",8:"৮",9:"৯",0:"০"};
var a={1:"১",2:"২",3:"৩",4:"৪",5:"৫",6:"৬",7:"৭",8:"৮",9:"৯",0:"০"};
var month = {Jan:'জানুয়ারী',Feb:'ফেব্রুয়ারী',Mar:'মার্চ',Apr:'এপ্রিল',May:'মে',Jun:'জুন',Jul:'জুলাই',Aug:'আগস্ট',Sep:'সেপ্টেম্বর',Oct:'অক্টোবর',Nov:'নভেম্বর',Dec:'ডিসেম্বর'};
var today = moment().startOf('day');
var global_Settings = [];
var global_Items = [];
var i=0;

		%{
			for(FarmerCropTask task:farmerCropTaskList)
			{
		%}	
			today = moment("${task.startDate.toString()}").startOf('day');
			global_Settings.push({	id: '${task.id}',	name: ((i+1)+'').replace(/\d/g,function(index){return a[index]})+'| '+'${task.cropName}'});			
			i++;
		%{
				for(FarmerTask fTask : task.farmerTaskList)
				{
					%}
					
						global_Items.push({
							id: '${fTask.id}',
							name: '<div>${fTask.cropActivity.name}</div>',
							//start: moment(today).add('hours', 12),
							start: moment('${fTask.start}'),
							end: moment('${fTask.end !=null ? fTask.end: fTask.start}'),
							//start: moment(today).add('days', '${fTask.taskDateStr}'),
							//end: moment(today).add('days', 3).add('hours', 4),
							//end: moment(today).add('days', '${fTask.taskDateStr}').add('hours', 8),
							sectionID: '${task.id}',
							classes: 'item-status-one',
							events: [
								{
									icon: '',
									label: 'one',
									at: moment(today).add('hours', 6),
									classes: 'item-event-one'
								}
							]
						});
					%{
				}	
			}
		%}		

</script>
<script src="/libs/timeline-scheduler/js/calendar.js"></script>
<script type="text/javascript">

function checkLang(fThisTime)
{
	var notDone = true;	
	 if(currentLangCode=='bn') {
		if(month.hasOwnProperty(fThisTime)) {
			//alert('eeee');
			fThisTime = month[fThisTime];
		}
		else {
			/*if(prop in month) {
				if(fThisTime.indexOf(prop)>-1)
				{
					fThisTime = fThisTime.replace(prop, month[prop]);
				}
			}
			*/
			for (var property in month) {
				if (fThisTime.indexOf(property)>-1) {
					while(notDone)
					{					
						fThisTime = fThisTime.replace(property,month[property]);
						if (fThisTime.indexOf(property)>-1) {
						}
						else {
							notDone = false;
						}	
					}
					//console.log('loggggggggggggggiiiiiiiiiiiiiiiing');					
				}
			}
		}
		//console.log('fffff:::'+month[fThisTime]);
		//fThisTime = 
		//if(day != undefined && parseInt(day)>-1) {
		if(fThisTime.indexOf('th')>-1)
		{
			var index = fThisTime.substring(0,fThisTime.indexOf('th'));
			//console.log('index:::'+index);
			fThisTime =  fThisTime.replace(/\d/g,function(index){return a[index]});
			fThisTime = replaceUntill(fThisTime, 'th');//fThisTime.replace('th',function(txt){return ''});//fThisTime.replace('th','');
		}
		if(fThisTime.indexOf('st')>-1)
		{
			var index = fThisTime.substring(0,fThisTime.indexOf('st'));
			//console.log('index:::'+index);
			fThisTime =  fThisTime.replace(/\d/g,function(index){return a[index]});
			fThisTime = replaceUntill(fThisTime, 'st');
		}
		if(fThisTime.indexOf('nd')>-1)
		{
			var index = fThisTime.substring(0,fThisTime.indexOf('nd'));
			//console.log('index:::'+index);
			fThisTime =  fThisTime.replace(/\d/g,function(index){return a[index]});
			fThisTime = replaceUntill(fThisTime, 'nd');
		}
		if(fThisTime.indexOf('rd')>-1)
		{
			var index = fThisTime.substring(0,fThisTime.indexOf('rd'));
			//console.log('index:::'+index);
			fThisTime =  fThisTime.replace(/\d/g,function(index){return a[index]});
			fThisTime = replaceUntill(fThisTime, 'rd');
		}
	}
	return fThisTime;
}
function replaceUntill(txt,replace) {
	while(txt.indexOf(replace)>-1)
	{
		txt = txt.replace(replace, '');
	}
	return txt;
}
$(document).ready(function() {

/*
// build the language selector's options
$.each($.fullCalendar.langs, function(langCode) {
	$('#lang-selector').append(
		$('<option/>')
			.attr('value', langCode)
			.prop('selected', langCode == currentLangCode)
			.text(langCode)
	);
});

// rerender the calendar when the selected option changes
$('#lang-selector').on('change', function() {
	//console.log('llllllllllllllllll');
	if (this.value) {
		currentLangCode = this.value;
		$('#calendar').fullCalendar('destroy');
		renderCalendar();
	}
});
*/
});
		
</script>
</body>
</html>
