<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'farmerTaskExpenditure')}">
<body>
<style>
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
	display:none;
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

@media all {
 .page-break  { display: none; }
}

@media print {
 .page-break  { display: block; page-break-before: always; }
}

</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">&{'expenditure.estimate.all'}</h1>
</div>
<div class="wrapper-md">
	<div class="row">
		<div class="col-sm-12" ng-app="myApp">
			<div class="">
				<div class="">
					
					<input type="hidden" name="cropExpenceList.?cropTaskMap?.id" value="${cropExpenceList?.cropTaskMap?.id}"/>
					<div class="col-sm-12">
						<div ng-controller="dropdownCtrl">
						<div class="panel panel-default">
							<div class="panel-heading subpage">
								<span class="label bg-danger pull-right m-t-xs">${cropExpenceList?.cropTaskMap?.taskList?.size()}</span>
								Tasks
							</div>
							<table class="display table" cellspacing="0" width="100%">
							  <thead>
								  <tr>
									<th>&{'activity.name'}</th>
									<th>&{'task.name'}</th>									
									<th>&{'task.desc'}</th>
									<th>&{'task.date'}</th>
									<th>&{'item.price'}</th>
									<th>&{'actual.expence'}</th>
									<th>&{'labour.price'}</th>
									<th>&{'actual.expence'}</th>
									<th></th>
								</tr>
							  </thead>
							  <tbody>
								<tr data-ng-repeat="item in taskList" ng-model="taskDtl" class="text-center" >
									<td width="17%" style="text-align:left">{{item.activityName}}</td>
									<td width="17%" style="text-align:left">{{item.taskName}}</td>									
									<td width="15%" style="text-align:left">{{item.itemExpName}}</td>
									 
									<!--<td>{{item.subtask}}</td>-->
									<td width="8%" style="text-align:left">{{item.subtaskdate}}</td>
									<td width="8%" style="text-align:left">{{item.itemExpence}}</td> 
									  <td width="8%">
										<input type="text" name="cropExpenceList.expenceItemValue.itemExpence" placeholder="0.00" class="form-control">
									  </td>
									  <td width="8%" style="text-align:left">{{item.labourExpence}}</td>
									  <td width="8%">
										<input type="text" name="cropExpenceList.expenceItemValue.labourExpence" placeholder="0.00" class="form-control">
									  </td>
									  <td width="8%">
									  <ul class="nav pull-left panel_toolbox">
											<li><a onclick="closeInputField(0);"><i
													class="fa fa-close"></i></a>
										</ul></td>
								</tr>
								
							  </tbody>
							</table>
							<div id="printarea">
							<table class="display subpage" cellspacing="0" width="100%" border="1px dotted">
							  <thead>
								  <tr>
									<th width="17%">&{'activity.name'}</th>
									<th width="17%">&{'task.name'}</th>									
									<th width="15%">&{'task.desc'}</th>
									<th width="8%">&{'task.date'}</th>
									<th width="8%">&{'item.price'}</th>
									<th width="8%">&{'actual.expence'}</th>
									<th width="8%">&{'labour.price'}</th>
									<th width="8%">&{'actual.expence'}</th>																		
								</tr>
							  </thead>
							  <tbody>								
								<tr data-ng-repeat="item in taskList" ng-model="taskDtl" class="text-center" >
									<td colspan="8">
										<table width="100%">
											<tr>
												<td width="17%" style="text-align:left">{{item.activityName}}</td>
												<td width="17%" style="text-align:left">{{item.taskName}}</td>									
												<td width="15%" style="text-align:left">{{item.itemExpName}}</td>
												 
												<!--<td>{{item.subtask}}</td>-->
												<td width="8%" style="text-align:left">{{item.subtaskdate}}</td>
												<td width="8%" style="text-align:left">{{item.itemExpence}}</td> 
												  <td width="8%">
													<input type="text" name="cropExpenceList.expenceItemValue.itemExpence" placeholder="0.00" class="form-control">
												  </td>
												  <td width="8%" style="text-align:left">{{item.labourExpence}}</td>
												  <td width="8%">
													<input type="text" name="cropExpenceList.expenceItemValue.labourExpence" placeholder="0.00" class="form-control">
												  </td>
											</tr>
											<tr>
												<td width="17%" style="text-align:left">&nbsp;</td>
												<td width="17%" style="text-align:left">&nbsp;</td>									
												<td width="15%" style="text-align:left">&nbsp;</td>
												 
												<!--<td>{{item.subtask}}</td>-->
												<td width="8%" style="text-align:left">&nbsp;</td>
												<td width="8%" style="text-align:left">&nbsp;</td> 
												  <td width="8%">
													<input type="text" name="cropExpenceList.expenceItemValue.itemExpence" class="form-control">
												  </td>
												  <td width="8%" style="text-align:left">&nbsp;</td>
												  <td width="8%">
													<input type="text" name="cropExpenceList.expenceItemValue.labourExpence" class="form-control">
												  </td>
											</tr>
											<tr>
												<td width="17%" style="text-align:left">&nbsp;</td>
												<td width="17%" style="text-align:left">&nbsp;</td>									
												<td width="15%" style="text-align:left">&nbsp;</td>
												 
												<!--<td>{{item.subtask}}</td>-->
												<td width="8%" style="text-align:left">&nbsp;</td>
												<td width="8%" style="text-align:left">&nbsp;</td> 
												  <td width="8%">
													<input type="text" name="cropExpenceList.expenceItemValue.itemExpence" class="form-control">
												  </td>
												  <td width="8%" style="text-align:left">&nbsp;</td>
												  <td width="8%">
													<input type="text" name="cropExpenceList.expenceItemValue.labourExpence" class="form-control">
												  </td>
											</tr>											
										</table>
									</td>
									<div class="page-break" ng-if="($index + 1) % 2 == 0"/>
								</tr>								
							  </tbody>
							</table>
							</div>
						</div>
						
					</div>


					<div class="form-actions">
						<button class="btn btn-sm btn-primary" onclick="printDiv('printarea')">&{'crop.print'}</button>
					</div>				

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function closeInputField(i) {
		if (i > 0) {
			document.getElementById('add_index' + i).outerHTML = '';
		}
	}

	$(document)
			.ready(
					function() {
						var i = 0;
						$("#add_row")
								.click(
										function() {
											i++;
											alert(i);
											var copy = document
													.getElementById('copy').innerHTML;
											copy = copy.replace('add_index0',
													'add_index' + i);
											copy = copy.replace('taskname[0]',
													'taskname[' + i + ']');
											copy = copy.replace('taskdate[0]',
													'taskdate[' + i + ']');
											copy = copy.replace(
													'closeInputField(0)',
													'closeInputField(' + i
															+ ')');
											alert('copy;;'+copy);
											$('#repeat').append(copy);

										});
					});
</script>
<script type="text/javascript">
var myApp = angular.module("myApp", []);
var taskList = [];
var cropActivityList = [];
var cropActivityTypeList = [];
var expenceItemList = [];
var i = 0;    
%{
	for(models.ExpenceItemValue expenceItemValue:cropExpenceList?.expenceItemValueList)
	{
		long id = expenceItemValue.getCropActivityType(expenceItemList)?.id;
		String name = expenceItemValue.getCropActivityType(expenceItemList)?.name;
%}	
	taskList[i] = {'id':'${expenceItemValue.id}','task':'${id}','subtask':'${expenceItemValue.cropCalenderTask?.taskName}','subtaskdate':'${expenceItemValue.cropCalenderTask?.taskDateStr}',
		'activity':'expenceItemValue.getCropActivity(expenceItemList)?.id','activityName':'${expenceItemValue.getCropActivity(expenceItemList)?.name}',
		'taskName':'${name}','itemExpence':'${expenceItemValue.itemExpence*crop.cropUnit*crop.cropLandQuantity}',itemExp:'${expenceItemValue.cropActivityItem?.id}',itemExpName:'${expenceItemValue.cropActivityItem?.name}',
		'labourExpence':'${expenceItemValue.labourExpence*crop.cropUnit*crop.cropLandQuantity}'};
	i++;
%{	
	}
%}

myApp.factory("CustomerService", ['$filter', 
      function($filter){
	    var service = {}; 
		
		service.getExpenceItemList = function(crop){
            var expenceItemList = ($filter('filter')(expenceItemList, {crop_id: crop}));      
            return expenceItemList;
        };
		
        return service;       
    }]);
    
myApp.controller('dropdownCtrl', ['$scope','CustomerService', 
   function($scope, CustomerService) {
		$scope.taskList = taskList;
		$scope.taskDtl ={
		//Name:'', 
			id:'', name: '', date: '',activity:'',activityName :'',task:'',taskName:'',subtask:'',subtaskdate:'',itemExp:'',itemExpName:'',comments:'',itemExpence:'',labourExpence:''
		};
		//$scope.expenceItemList = expenceItemList;


		$scope.getVarities = function(index){
		//$scope.varities = CustomerService.getCropVarity($scope.cropdtl.crop);
    }    
}]);  

function printDiv(divName) {
	
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     
     /*
    w=window.open();
    var printContents = document.getElementById(divName).innerHTML;
	w.document.write(printContents);
	w.print();
	w.close();
	*/
}


$(document).ready(function(){

    var MaxHeight = 200;
    var RunningHeight = 0;
    var PageNo = 1;

    $('table.splitForPrint>tbody>tr').each(function () {

        if (RunningHeight + $(this).height() > MaxHeight) {
            RunningHeight = 0;
            PageNo += 1;
        }

        RunningHeight += $(this).height();

        $(this).attr("data-page-no", PageNo);

    });

    for(i = 1; i <= PageNo; i++){

        $('table.splitForPrint').parent().append("<div class='tablePage'><hr /><table id='Table" + i + "'><tbody></tbody></table><hr /></div>");

        var rows = $('table tr[data-page-no="' + i + '"]');

        $('#Table' + i).find("tbody").append(rows);
    }
    $('table.splitForPrint').remove();

});
</script>
</body>
</html>
