<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'incomeItemList')}">
<body>
	<div class="col-sm-9" ng-app="myApp">
		<div class="panel panel-default">
			<div ng-controller="safeCtrl">
				<div class="panel panel-default">
					<div class="panel-heading font-bold">Basic form</div>
						<div class="panel-body">
							<div class="col-sm-9">
			#{input 'cropIncome', type:'select', items:cropIncomeList, labelProperty:'name', required:'true'/}
			#{input 'cropIncomeItem', type:'select', items:cropIncomeItemList, labelProperty:'name'/}
			<!--<input type="button" id="button" value="Save" ng-click="getData()"/>-->
			<button type="button" ng-click="getData()" class="btn btn-sm btn-success">
				<i class="glyphicon glyphicon-plus">
				</i> Add mapping
			</button>

			<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th st-sort="index">#</th>
					<th st-sort="firstName">Income Name</th>
					<th st-sort="birthDate">Item Name</th>
				</tr>
				<tr>
					<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in items">
					<td>{{$index}}</td>
					<td>{{row.cropIncome_name}}</td>
					<td>{{row.cropIncomeItem_name}}</td>
					<td>
					<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">
						</i>
					</button>
					</td>
				</tr>
				</tbody>
			</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('safeCtrl1', ['$scope', function ($scope) {
	
    var firstnames = ['Laurent', 'Blandine', 'Olivier', 'Max'];
    var lastnames = ['Renard', 'Faivre', 'Frere', 'Eponge'];
    var dates = ['1987-05-21', '1987-04-25', '1955-08-27', '1966-06-06'];
    var id = 1;

    function generateRandomItem(id) {

        var firstname = firstnames[Math.floor(Math.random() * 3)];
        var lastname = lastnames[Math.floor(Math.random() * 3)];
        var birthdate = dates[Math.floor(Math.random() * 3)];
        var balance = Math.floor(Math.random() * 2000);

        return {
            id: id,
            firstName: firstname,
            lastName: lastname,
            birthDate: new Date(birthdate),
            balance: balance
        }
    }

    $scope.rowCollection = [];
	
    for (id; id < 5; id++) {
        $scope.rowCollection.push(generateRandomItem(id));
    }

    
    
    //add to the real data hol

    $scope.addRandomItem = function addRandomItem() {
        //$scope.rowCollection.push(generateRandomItem(id));
        id++;
    };

    //remove to the real data holder
    $scope.removeItem = function removeItem(row) {
        var index = $scope.items.indexOf(row);
        if (index !== -1) {
            $scope.items.splice(index, 1);
        }
    }
    /*
    var httpPromise = $http({
	   method: 'GET',
	   url: '/myRestUrl'
	}).then(function onFulfilledHandler(response) {

	   $scope.tempObject = response

	   console.log("Temp Object in successCallback ", $scope.tempObject);

	   //return object for chaining
	   return $scope.tempObject;

	});
	
	httpPromise.then (function (tempObject) {
		console.log("Temp Object outside $http ", tempObject);
	});
    */
    $scope.postData = function(){
		//alert('ddddd');
		var postsdata;
		var postHttp = $.post("@{Cropmanagement.submitIncomeItem()}",
		{
		 cropIncome: $('#cropIncome').val(),
		 cropIncomeItem: $('#cropIncomeItem').val()
		})
		.then(function(data, status){
			//alert("Data: " + data + "\nStatus: " + status);
			$scope.items.push(data);
			postsdata = data;
			return data;	
			//$scope.rowCollection = data;
			//DataFactory.getDataStream();
			//$timeout(this, 2000);
			//$scope.items.push(postsdata);
		});
		postHttp.then(function (data){
			alert('then:::'+data);
			//$scope.items.push(data);
		});
		
		//$scope.addRandomItem();
		//$scope.rowCollection = postdata;
	};
}]);

app.factory('myService', function($http) {
  var promise;
  var myService = {
    async: function() {
      //if ( !promise ) {
		var data = {
			cropIncome: $('#cropIncome').val(),
			cropIncomeItem: $('#cropIncomeItem').val()
		};
        // $http returns a promise, which has a then function, which also returns a promise
        promise = $http({
			headers: {'Content-Type': 'application/x-www-form-urlencoded'},
			method:'POST',url:'@{Cropmanagement.submitExpenceItem()}',
			data:'cropIncome='+$('#cropIncome').val()+'&cropIncomeItem='+$('#cropIncomeItem').val()
			})
			.then(function (response) {
			  // The then function here is an opportunity to modify the response
			  console.log(response.data);
			  response.data = response.data.replace('\'','');
			  response.data = response.data.replace('\'','');
			  console.log(response.data);
			  // The return value gets picked up by the then in the controller.
			  return response.data;
			});
		//}
		// Return the promise to the controller
		return promise;
    }
  };
  return myService;
});

app.controller('safeCtrl', function( myService,$scope) {
	
$scope.items = [];
	%{
		for(models.ExpenceItem incomeItem : incomeItemList)
		{
	%}
		$scope.items.push({'id':'${incomeItem.id}','cropIncome_id':'${incomeItem.cropIncome.id}','cropIncome_name':'${incomeItem.cropIncome.name}'
			,'cropIncomeItem_id':'${incomeItem.cropIncomeItem.id}','cropIncomeItem_name':'${incomeItem.cropIncomeItem.name}'});
	%{
		}
	%}
  $scope.clearData = function() {
    $scope.data = {};
  };
  
  //remove to the real data holder
    $scope.removeItem = function removeItem(row) {
        var index = $scope.items.indexOf(row);
        if (index !== -1) {
            $scope.items.splice(index, 1);
        }
    }
  $scope.getData = function() {
    // Call the async method and then do stuff with what is returned inside our own then function
    myService.async().then(function(d) {
	  //alert('d::'+d);
      $scope.items.unshift(JSON.parse(d));
    });
  };
});
</script>
</body>
</html>
